@using DnDNoteKeeper.Models
@using DnDNoteKeeper.Services
@inject NavigationManager navigationManager

<div class="col">
    <div class="card text-white border-secondary h-100 shadow-lg transition-hover" 
         style="cursor: pointer;" 
         @onclick="NavigateToDetails">
        
        @* Checks to see if an image was uploaded or not in the db *@
        @if (!string.IsNullOrEmpty(Campaign.CampaignImage))
        {
            <img src="@Campaign.CampaignImage" class="card-img-top" 
                 style="height: 200px; object-fit: cover;" alt="Campaign Banner">
        }
        else
        {
            @* If not, uses a placeholder image in the /images/ folder (inside wwwroot) *@
            <img src="/images/campaignplaceholder.jpg" class="card-img-top" 
                 style="height: 200px; object-fit: cover;" alt="Campaign Banner" />
        }

        <div class="card-body d-flex flex-column" style="min-height: 140px;">
            <h5 class="card-title text-black">@Campaign.CampaignName</h5>
            <h6 class="card-subtitle mb-2 text-muted italic">@Campaign.Location</h6>
            <h7 class="card-subtitle mb-2 text-muted">Starts: @CampaignTime.getCampaignTime(Campaign)</h7>
        </div>

        <div class="card-footer border-secondary d-flex justify-content-between align-items-center">
            <span class="badge rounded-pill bg-primary">DM: @Campaign.UserName</span>
        </div>
    </div>
</div>

@code {
    [Parameter] 
    public CampaignDetails Campaign { get; set; } = default!;

    // Allows each card to be clicked to travel to the campaigndetail page for that specific campaign
    private void NavigateToDetails()
    {
        navigationManager.NavigateTo($"/campaigns/{Campaign.Id}");
    }
}